<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RideOnMotion.Inputs.Xbox360Gamepad.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RideOnMotion.Inputs.Xbox360Gamepad.Properties.Settings>
            <setting name="CameraSwap" serializeAs="String">
                <value>Back</value>
            </setting>
            <setting name="Emergency" serializeAs="String">
                <value>B</value>
            </setting>
            <setting name="FlatTrim" serializeAs="String">
                <value>Start</value>
            </setting>
            <setting name="GazDown" serializeAs="String">
                <value>Left Trigger</value>
            </setting>
            <setting name="GazUp" serializeAs="String">
                <value>Right Trigger</value>
            </setting>
            <setting name="Hover" serializeAs="String">
                <value>A</value>
            </setting>
            <setting name="Land" serializeAs="String">
                <value>Left Shoulder</value>
            </setting>
            <setting name="PitchDown" serializeAs="String">
                <value>Left Thumbstick Down</value>
            </setting>
            <setting name="PitchUp" serializeAs="String">
                <value>Left Thumbstick Up</value>
            </setting>
            <setting name="RollLeft" serializeAs="String">
                <value>Left Thumbstick Left</value>
            </setting>
            <setting name="RollRight" serializeAs="String">
                <value>Left Thumbstick Right</value>
            </setting>
            <setting name="SpecialAction" serializeAs="String">
                <value>X</value>
            </setting>
            <setting name="TakeOff" serializeAs="String">
                <value>Right Shoulder</value>
            </setting>
            <setting name="YawLeft" serializeAs="String">
                <value>Right Thumbstick Left</value>
            </setting>
            <setting name="YawRight" serializeAs="String">
                <value>Right Thumbstick Right</value>
            </setting>
        </RideOnMotion.Inputs.Xbox360Gamepad.Properties.Settings>
    </userSettings>
</configuration>