<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RideOnMotion.Inputs.Keyboard.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RideOnMotion.Inputs.Keyboard.Properties.Settings>
            <setting name="PitchUp" serializeAs="String">
                <value>69</value>
            </setting>
            <setting name="PitchDown" serializeAs="String">
                <value>62</value>
            </setting>
            <setting name="RollLeft" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="RollRight" serializeAs="String">
                <value>47</value>
            </setting>
            <setting name="YawLeft" serializeAs="String">
                <value>23</value>
            </setting>
            <setting name="YawRight" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="GazUp" serializeAs="String">
                <value>24</value>
            </setting>
            <setting name="GazDown" serializeAs="String">
                <value>26</value>
            </setting>
            <setting name="TakeOff" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="Land" serializeAs="String">
                <value>18</value>
            </setting>
            <setting name="Hover" serializeAs="String">
                <value>118</value>
            </setting>
            <setting name="CameraSwap" serializeAs="String">
                <value>46</value>
            </setting>
            <setting name="Emergency" serializeAs="String">
                <value>21</value>
            </setting>
            <setting name="FlatTrim" serializeAs="String">
                <value>49</value>
            </setting>
            <setting name="SpecialAction" serializeAs="String">
                <value>55</value>
            </setting>
        </RideOnMotion.Inputs.Keyboard.Properties.Settings>
    </userSettings>
</configuration>