<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RideOnMotion.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <RideOnMotion.UI.Properties.Settings>
            <setting name="DroneIPAddress" serializeAs="String">
                <value>192.168.1.1</value>
            </setting>
            <setting name="ClientIPAddress" serializeAs="String">
                <value>192.168.1.2</value>
            </setting>
            <setting name="DroneSSID" serializeAs="String">
                <value>ardrone_006431</value>
            </setting>
            <setting name="LogLevelFilter" serializeAs="String">
                <value>Info</value>
            </setting
            <setting name="DefaultTanslationSpeed" serializeAs="String">
                <value>0.15</value>
            </setting>
            <setting name="DefaultRotationSpeed" serializeAs="String">
                <value>0.25</value>
            </setting>
            <setting name="DefaultElevationSpeed" serializeAs="String">
                <value>0.25</value>
            </setting>
        </RideOnMotion.UI.Properties.Settings>
    </userSettings>
</configuration>